# IDE
.idea/
*.iml
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# OS
.DS_Store
Thumbs.db

# Build-Output
target/
dist/
.angular/
node_modules/

# Lokale Overrides / Secrets
.env
.env.local
*.local.yaml
application-local.yaml
application-local.properties
